<div class="title">{{contentData.title}}</div>
<div class="sub-title">{{contentData.subtitle}}</div>
<div class="nav">
  <div class="name">{{contentData.name}}</div>
  <div class="quote">{{contentData.quote}}</div>
</div>
<div class="main-container">
  <ul class="portfolio-container">
      <app-portfolio-item class="card" #portfolioChild *ngFor="let portfolioItemData of contentData.portfolioData;"
                          (click)="cardClick(portfolioChild)"
                          (mouseover)="onMouseOver(portfolioChild)"
                          (mouseout)="onMouseOut(portfolioChild)"
                          (transitionend)="transitionEnd($event)"
                          (close)="closeClick(portfolioChild)"
                          [title]=portfolioItemData.title
                          [logoSrc]=portfolioItemData.logoSrc
                          [logoAlt]=portfolioItemData.logoAlt
                          [carouselItemsData]=portfolioItemData.carouselItemsData></app-portfolio-item>
  </ul>
</div>
