
@import '../../styles';

.title {
  font-family: ShadowsIntoLight, serif;
  font-size: 42px;
  line-height: 68px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 14px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 17px;
}

.contacts{
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;

  li {
    list-style-type: none;
    display: inline-block;
    width: 20px;
    height: 20px;

    .social-media-icon {
      width: 100%;
    }

    &:first-child {
      .social-media-icon {
        border-radius: 3px 0 0 3px;
      }
    }

    &:last-child {
      .social-media-icon {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.nav {
  margin: 0 auto;
  max-width: 888px;
  display: block;

  height: 435px;
  background-color: #BE6E6E; /* For browsers that do not support gradients */
  background-image: url(../../assets/images/f-logo-red.min.svg);
  background-image: url(../../assets/images/f-logo-red.min.svg), radial-gradient(circle at 10% 25%, #BE7676, #BE6E6E);
  background-repeat: no-repeat;
  background-position-x: -321px;
  background-position-y: -29px;
  background-size: 100% 121%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media #{$small-screen} {
    max-width: 450px;
  }

  @media #{$information-phone} {
    height: calc(100vh - 130px);
    border-radius: 0;
    background-position-x: 50%;
    background-position-y: 0;
    background-size: 160% 130%;
  }

  .name {
    font-family: SnellRoundhand-Regular, serif;
    font-size: 58px;
    line-height: 94px;
    margin-top: 32px;
    margin-right: 50px;
    color: white;
    text-align: right;

    @media #{$information-phone} {
      text-align: left;
      margin-left: 20px;
    }
  }

  .quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    text-align: left;
    color: white;
    width: 200px;
    margin: 0 0 0 auto;
    padding-right: 50px;
  }
}

.main-container {
  margin: 0 auto;
  display: block;

  @media #{$information-phone} {
    width: auto;
    margin: auto;
  }


  .portfolio-container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: flex-start;
    height: 1250px;

    @media #{$small-screen} {
      flex-wrap: nowrap;
      height: auto;
      width: auto;
    }

    @media #{$information-phone} {
      flex-wrap: nowrap;
      height: auto;
      width: auto;
    }

    .card {
      position: relative;
      list-style-type: none;
      border-radius: 10px;
      top: 0;
      width: 49%;
      max-width: 888px;
      margin-top: 17px;
      max-height: 100vh;
      overflow: hidden;


      &:hover {
        will-change: height, top;
      }

      @media #{$small-screen} {
        max-width: 450px;
        width: auto;
      }

      @media #{$information-phone} {
        border-radius: 0;
        margin-top: 0;
        width: 100%;

        &.transition {
          transition-timing-function: ease-in-out;
          transition: height 400ms, top 400ms;
        }

        &.shadow {
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
      }

      &:nth-of-type(1) {
        background: #191919;
        background: radial-gradient(circle at 50% 0%, #3B3B3B, #191919);
      }

      &:nth-of-type(2) {
        background: #0451A4;
        background: radial-gradient(circle at 100% 0%, #60AFFF, #0451A4);
      }

      &:nth-of-type(3) {
        background: #429321;
        background: radial-gradient(circle at 0% 30%, #7BAA28, #429321);

      }

      &:nth-of-type(4) {
        background: #759EAB;
        background: radial-gradient(circle at 60% 10%, #8DC0C5, #759EAB);
      }

      &:nth-of-type(5) {
        background: #673296;
        background: radial-gradient(circle at 100% 15%, #7D76BA, #673296);
      }

      .arrow-container {
        position: absolute;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        top: 50%;
        opacity: 0;
        border-radius: 50%;
        background: rgba(127, 127, 127, 0.3);
        transition: opacity 300ms;

        @media #{$information-phone} {
          position: fixed;
          display: none;
        }

        &.left {
          left: 10px;

          .arrow {
            margin-right: -6px;
            border-width: 2px 0px 0px 2px;
            transform: rotate(-45deg) scale(2);
          }
        }

        &.right {
          right: 10px;

          .arrow {
            margin-left: -6px;
            border-width: 2px 2px 0px 0px;
            transform: rotate(45deg) scale(2);
          }
        }
      }
    }
  }
}

.network{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-left: 10px;

  &:hover {

    a {
      will-change: transform;

       &::after {
         will-change: opacity;
       }

        &::before {
          will-change: transform;
        }
    }
  }


  @media #{$information-phone} {
    position: inherit;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
  }

  a {
    position: relative;
    display: block;
    border-radius: 30px;
    transition: transform 300ms;

    &::after {
      border-radius: 30px;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      opacity: 0;
      transition: opacity 300ms;
    }

    &:nth-of-type(1)::before {
      background: #191919;
      background: radial-gradient(circle at 70% 30%, #909090, #606060);
    }

    &:nth-of-type(2)::before {
      background: #673296;
      background: radial-gradient(circle at 50% 100%, #0288BC, #017BB6);
    }

    &:nth-of-type(3)::before {
      background: #673296;
      background: radial-gradient(circle at 0% 15%, #F76FA7, #EF6A9D);
    }

    &::before {
      border-radius: 30px;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transition: transform 300ms;
    }

    &:hover{
      transform: translateY(-2px);

      &::after {
        opacity: 1;
      }

      &::before {
        transform: scale(1);
      }
    }

    &:active {
      transform: translateY(-1px);

      &::after {
        opacity: 0;
      }
    }

    /*&:hover {
      background: #673296;
      background: radial-gradient(circle at 50% 100%, #0288BC, #017BB6);
    }*/

    @media #{$information-phone} {

      &::before {
        transition: none;
        transform: scale(1);
      }
      &::after {
        transition: none;
        opacity: 1;
      }

      &:hover{
        transform: translateY(0px);

        &::after {
          //opacity: 1;
        }

        &::before {
          //transform: scale(1);
        }
      }
    }

    .col {
      width: 40px;
      height: 40px;

      @media #{$information-phone} {
        width: 60px;
        height: 60px;
      }

      img {
        width: 40px;
        position: relative;


        @media #{$information-phone} {
          width: 40px;
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }

  /*.col {
    border-radius: 10px;
    height: 200px;
    width: 200px;

    @media #{$information-phone} {
      border-radius: 0;
      width: 50%;
      height: 100%;
    }



    img {
      width: 100%;
    }
  }*/
}


