<div class="carousel-container"
     [style.transform]="transform">
   <app-carousel-item class="item" #carouselItemChild
    [style.opacity]="getOpacity(index)"
    *ngFor="let carouselItemData of carouselItemsData; let first = first; let index = index;"
    (onReady)="childIsReady(item, first)"
    [imageSrc]=carouselItemData.imageSrc
    [imageAlt]=carouselItemData.imageAlt
    [textAlign]="first? '' : 'justify' "
    [text]=carouselItemData.text
    [first]=first
    [onScreen]="showImage"></app-carousel-item>
</div>
<div
  class="arrow-container left"
  #leftArrow
  (click)="onLeftArrowClick()"
  [style.opacity]="showLeftArrow"><i class="arrow"></i></div>
<div
  class="arrow-container right"
  #rightArrow
  (click)="onRightArrowClick()"
  [style.opacity]="showRightArrow"><i class="arrow"></i></div>
<div class="circle-container" [style.opacity]="showLeftArrow || showRightArrow">
  <div class="circle-touch"
       (click)="onCircleClick(index)"
       *ngFor="let carouselItemData of carouselItemsData; let index = index;">
    <i class="circle" [ngClass]="{'fill': isToFill(index), 'test': true}"></i>
  </div>
</div>



<!--



-->
