@import '../../../../../styles';

.intro-text {
  font-family: "Open Sans", serif;
  font-size: 14px;
  line-height: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  text-align: center;
  color: white;
  width: 70%;
  white-space: normal;
  margin: 0 auto;
  margin-bottom: 29px;
  word-wrap: break-word;
}

.accessory {
  width: 90%;
  margin: 0 auto;
  display: block;
  transform: translate(0, 0);
  transition-timing-function: ease-out;
  transition: transform 800ms, opacity 2s;
  opacity: 1;

  &.hide {
    transform: translate(0, 110%);
    opacity: 0;
  }

  &.blur {
    filter: blur(20px);
  }

}
