/* You can add global styles to this file, and also import other style files */

// More specific selectors == bad
/*.header .nav .menu .link .anavItem {
  font-size: 18px;
}

// Less specific selectors == good
.anavItem {
  font-size: 18px;
}*/

// Only deliver what you need

$information-phone: "only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";

@font-face {
  font-family: 'SnellRoundhand-Regular';
  src: url('assets/fonts/SnellRoundhand-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/SnellRoundhand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/SnellRoundhand-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/SnellRoundhand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/SnellRoundhand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/SnellRoundhand-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('assets/fonts/ShadowsIntoLight.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/ShadowsIntoLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/ShadowsIntoLight.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/ShadowsIntoLight.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/ShadowsIntoLight.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/ShadowsIntoLight.otf') format('opentype');
}

//@font-face { font-family: 'Roboto-Regular'; url('assets/fonts/Roboto-Black')  format('truetype') }

//@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
  padding: 0;
  margin: 0;
}
